<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Lake Homes</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="controls">
        <div class="group">
          <span>List:</span>
          <select name="view" v-model="view">
            <option value="new">new</option>
            <option value="price">changed price</option>
            <option value="active">active</option>
            <option value="status">changed status</option>
            <option value="not-active">not active</option>
            <option value="all">all</option>
            <option value="removed">removed</option>
          </select>
        </div>
        <div class="group">
          <span>State:</span>    
          <select name="state" v-model="state">
            <option value="all">all</option>
            <option value="CT">CT</option>
            <option value="MA">MA</option>
            <option value="NH">NH</option>
            <option value="VT">VT</option>
          </select>
        </div>
        <div class="group">
          <span>Price:</span>
          <input id="min" v-model="min" />
          <span>-</span>  
          <input id="max" v-model="max" />  
        </div> 
        <div class="group">
          <span>As of: {{ data.asOf }}</span>
        </div> 
      </div>
      <div class="listings">
        <div class="empty" v-if="shown.length == 0">
          <span>No listings available, sorry...</span>        
        </div>
        <div class="listing" v-for="h in shown">
          <a v-bind:href="h.link">
            <img v-bind:src="h.thumbnail" />
            <div class="address">{{ h.address }}</div>
            <div class="info">
              <div class="price">{{ toCurrency(h.price) }}</div> 
              <div class="status">({{ toLowerCase(h.status) }})</div>
              <div v-if="h.change != null" class="change">{{ h.change }}</div>
            </div>
          </a>  
        </div>  
      </div>  
    </div>
  </body>
  <script>
    const { createApp } = Vue;
    createApp({
      async created() {
        this.data = await this.load();
        this.min = Math.min(...this.data.homes.map(o => o.price));
        this.max = Math.max(...this.data.homes.map(o => o.price));
      },
      data() {
        return {
          data: {
            asOf: '',
            homes: []
          },
          view: 'new',
          state: 'all',
          min: 0,
          max: 200000
        }
      },
      computed: {
        shown: function() {
          return this.data.homes.filter((o) => {
            
            // removed listings do not show anywhere except the removed view
            if (this.view === 'removed') {
              if (!o.change || o.change.toLowerCase() !== 'removed') {
                return false;
              }
            } else {
              if (o.change && o.change.toLowerCase() === 'removed') {
                return false;
              }
            } 
            
            // other changes show is relevant views
            if (['new', 'price', 'status'].includes(this.view)) {
              if (!o.change || o.change.toLowerCase() !== this.view) {
                return false;
              }
            }  
            
            if (this.view === 'active' && o.status.toLowerCase() !== 'active') {
              return false;
            }
            if (this.view === 'not-active' && o.status.toLowerCase() === 'active') {
              return false;
            }
            if (this.state !== 'all' && o.state.toUpperCase() !== this.state) {
              return false;
            }
            return (o.price >= this.min && o.price <= this.max);
          })
        }
      },
      methods: {
        load: async() => {
          return fetch('./data.json').then(res => res.json());
        },
        toCurrency: function(n) {
          return '$' + Intl.NumberFormat('en-US').format(n);
        },
        toLowerCase: function(s) {
          return s.toLowerCase();
        }
      }
    }).mount('#app');
  </script>  
</html>
